@import "../../../../styles/colors.scss";

// Header
.headerDiv {
  padding-bottom: 1rem;
  text-align: center;
}

// Totals Cards
.totalsDiv {
  padding-bottom: 0rem;
}

// User Cards
.userDiv {
  padding-bottom: 4.5rem;
}

.userCard {
  border-width: 0.15rem;
  margin-bottom: 1rem;
}

.userHR {
  border-top: solid $primary-light;
}

// Entry Cards
.entryDiv {
  padding-bottom: 4.5rem;
}

.entryCard {
  border-width: 0.15rem;
  margin-bottom: 1rem;
}

.entryHR {
  border-top: solid $primary-light;
}
