@import "./styles/colors.scss";

.page {
  position: relative;
  min-height: 100vh;
}

.paddingTop {
  padding-top: 10rem;
}

.mapleRiverBasketball {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  margin: 0 auto;
  width: 90vw;
}
