# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# base

.vscode
sql
.editorconfig
.gitattributes
.gitignore
CODEOWNERS
docker-compose.yml
package-lock.json

# client

# client/.cert
client/node_modules
client/public
client/src
client/.env
client/.eslintignore
client/.eslintrc
client/package-lock.json
client/tsconfig.json

# server

# server/dist
# server/node_modules
server/src
server/.env
server/.eslintignore
server/.eslintrc
server/.gitignore
server/package-lock.json
server/tsconfig.json
