@import "../../../../styles/colors.scss";

// Entry Cards
.entryDiv {
  padding-bottom: 4.5rem;
}

// Refresh Button
.refreshDiv {
  // top | horizontal | bottom
  margin: 0rem 1rem 5.5rem;
}

.refreshButton {
  color: $secondary;
  width: 100%;
}
