@import "../../../../styles/colors.scss";

// Entry Cards
.entryDiv {
  padding-bottom: 4.5rem;
}

.entryCard {
  border-width: 0.15rem;
  margin-bottom: 1rem;
}

.entryHR {
  border-top: solid $primary-light;
}
