@import "../../styles/colors.scss";

// Top NavBar
.brand {
  color: $primary-light !important;
}

// Bottom NavBar
.active {
  color: $secondary;
  font-size: larger;
  text-decoration: none;
}

.active:hover {
  color: $secondary;
}

.link {
  color: $primary;
  font-size: larger;
  text-decoration: none;
}

.link:hover {
  color: $primary;
}
