@import "~styles/colors";

.active {
  color: $navbar-button-active;
  font-size: larger;
  text-decoration: none;
}

.active:hover {
  color: $navbar-button-active;
}

.link {
  color: $navbar-button;
  font-size: larger;
  text-decoration: none;
}

.link:hover {
  color: $navbar-button-hover;
}
