$blue: #2b74ff;
$light-blue: #35baf6;
$red: #ff0000;
$dark-red: #b10000;
$white: whitesmoke;
$light-grey: #cdcdcd;
$grey: #555555;
$black: #282828;
$green: #028e59;
$light-green: #34a47c;
$dark-green: #02301e;
$orange: #ff7300;

// Bootstrap
$primary-dark: $dark-green;
$primary-light: $light-green;

$primary: $green;
$secondary: $light-grey;
$success: $light-green;
$danger: $red;
$warning: $orange;
$dark: $black;
