@import "../../../../styles/colors.scss";

// Header
.headerDiv {
  padding-bottom: 1rem;
  text-align: center;
}

// Category Cards
.categoryDiv {
  padding-bottom: 0.5rem;
}

.categoryCard {
  border-width: 0.15rem;
  margin-bottom: 1rem;
}

.categoryHR {
  border-top: solid $primary-light;
}

// Download Cards
.downloadDiv {
  padding-bottom: 4.5rem;
  text-align: center;
}

.downloadButtom {
  width: 50%;
  margin-bottom: 1rem;
}

// Total Card
.totalRow {
  text-align: center;
}
